body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #6610f2;
}

a:hover {
    color: #6f42c1;
}

/* Add bullet point before each list item */
ul li::before {
    content: '\2022'; /* Unicode character for bullet point */
    color: #28a745; /* Green color for the bullet point */
    margin-right: 8px;
}
